@media screen and (min-width: 700px) {
    .navbar-brand{
        display: block !important;
    }
    .hero-text{
        button{
            width: 30% !important;
        }
    }

    .card{
        max-width: 100% !important;
    }

    .contacto-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;

        > * {
            padding: 2em;
        }

        .contacto-info h4,
        .contacto-info ul,
        .contacto-info p {
            padding: 1em;
            text-align: left;
        }
    }

    .barra-busqueda{
        padding: 1em;
    }
}